@import "tailwindcss";

@theme {
   --color-primary: #def9ff;
   --color-secondary: #202020;
   --color-accent: #0f172a;
   --color-gold: #fcd64f;
}

/* Width */
::-webkit-scrollbar {
   width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
   background: transparent; /* primary background */
   margin: 12px 0;
}

/* Thumb */
::-webkit-scrollbar-thumb {
   background: #374f66; /* border color */
   border-radius: 10px;
   border: 2px solid transparent;
}

/* Hover */
::-webkit-scrollbar-thumb:hover {
   background: #1680ad; /* accent blue */
}

/* corners */
::-webkit-scrollbar-corner {
   background: transparent;
}
